body {
  background-image: url('../utils/fondo.jpg'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-left: 50px;
  font-family: 'Segoe UI', sans-serif;
}

.registro-container {
  margin-top: -70px;
  padding: 30px;
  border-radius: 10px;
  text-align: left; /* Cambié a left para que quede alineado */
  color: black; /* Para que el texto contraste sobre la imagen */
  max-width: 300px;
  width: 100%;
}

input {
  width: 210px; /* menos ancho */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #423d3d;
  border-radius: 5px;
  display: block;
  background-color: rgba(255, 255, 255, 0.8); /* fondo ligeramente blanco */
  color: #333;
}

button {
  width: 230px;
  padding: 10px;
  background-color: #ad502e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c0603d;
}

#mensaje-registro {
  margin-top: 10px;
  color: red;
  font-size: 0.9em;

}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: inline-block;
}

.back-arrow img {
  width: 35px;   /* Ajusta el tamaño que quieras */
  height: 35px;
  display: block;
}